<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @readie.url %>
</p>

<p>
  <strong>Read:</strong>
  <%= @readie.read %>
</p>

<%= link_to 'Edit', edit_readie_path(@readie) %> |
<%= link_to 'Back', readies_path %>
